.footer
    .footer-wrap
        .footer-infor
            h3 THÔNG TIN 
            .footer-list
                a(href="/") Chính sách bảo mật
                a(href="/") Chính sách vận chuyển
                a(href="/") Chính sách đổi trả
            i.fa-solid.fa-plus.footer-plus

        .footer-stores 
            h3 CHÍNH SÁCH
            p Chi nhánh 1
            a(href="/")  Ỷ Lan, phường Hiệp Tân, quận Tân Phú, thành phố Hồ Chí Minh.
            i.fa-solid.fa-plus.footer-plus


        .footer-contact
            h3 LIÊN HỆ
            .footer-map
                i.fa-solid.fa-location-dot
                p Ỷ Lan, phường Hiệp Tân, quận Tân Phú, thành phố Hồ Chí Minh.
            .footer-hotline 
                i.fa-solid.fa-phone-volume
                p.footer-hightlight Hotline: 
                a(href="/").footer-phoneNum 0916698055
            .footer-email
                .footer-email-wrap
                    i.fa-solid.fa-envelope
                    p.footer-hightlight Email:
                p.gmail secondsundayvn@gmail.com
            i.fa-solid.fa-plus.footer-plus


        .footer-about 
            h3 VỀ CHÚNG TÔI
            .footer-content 
                p Với thông điệp "Such a simple thing", Second Sunday dành trọn tâm huyết để làm ra các sản phẩm mang màu sắc của riêng mình, màu sắc của sự đơn giản, tinh tế, màu sắc của 1 ngày bình yên. Hãy trải nghiệm, cảm nhận và "enjoy your second sunday" cùng chúng tớ nhé !!! Second Sunday - Such a simple thing
            .footer-social
                a(href="/") 
                    i.fa-brands.fa-facebook(style="color: #113fac;")
                a(href="/") 
                    img(src="./images/instagram.webp" alt="Second Sunday - Insta")
                a(href="/") 
                    img(src="./images/youtube.webp" alt="Second Sunday - youtube")
                a(href="/") 
                    img(src="./images/zalo.webp" alt="Second Sunday - zalo")



