header.header 
    .header-top 
        .header-top-wrap
            .header-left
                i.fa-solid.fa-bars
                a(href="/") 
                    img(src="../images/logo.png" alt="logo")
                i.fa-solid.fa-magnifying-glass
            .header-right 
                .header-adress 
                    .header-phone 
                        i.fa-solid.fa-phone-volume
                        p 0916698055
                    .header-email
                        i.fa-solid.fa-paper-plane
                        a(href="secondsundayvn@gmail.com")   secondsundayvn@gmail.com 
                .header-search 
                    form(action="#")
                        input(type="text" placeholder="Nhập tên sản phẩm...")
                        .header-icon-search 
                            .header-icon-wrap
                                i.fa-solid.fa-magnifying-glass
                .header-shopping
                    i.fa-solid.fa-phone-volume
                    .header-shopping-wrap
                        img(src="../images/shopping-cart.png" alt="shopping-cart")
                        p.header-shopping-circle 0
    .header-middle 
        .header-middle-wrap
            a(href="./index.html")#Home TRANG CHỦ
            a(href="./policy.html")#policy CHÍNH SÁCH
            a(href="/").header-logo 
                img(src="../images/logo.png" alt="second-sunday")
            a(href="./sizeTab.html")#Size BẢNG SIZE
            a(href="./stores.html")#Store HỆ THỐNG CỬA HÀNG
    .header-menu
        .header-container
            .header-menu-wrap 
                .header-icon 
                    a(href="allProduct.pug")
                        img.black(src="../images/menu.png" alt="menu")
                        img.whenhover(src="../images/menu-red.png" alt="menu-red") 
                        p Tất cả sản phẩm
                .header-icon
                    a(href="#")                 
                        img.black(src="../images/giay-black.png" alt="menu-shose") 
                        img.whenhover(src="../images/giay.png" alt="shose-red")
                        p Giày
                .header-icon
                    a(href="#")
                        img.black(src="../images/dep-black.png" alt="menu-sandal") 
                        img.whenhover(src="../images/dep.png" alt="sandal-red")
                        p Dép
                .header-icon
                    a(href="#")
                        img.black(src="../images/phukien-black.png" alt="menu-phukien") 
                        img.whenhover(src="../images/tui.png" alt="phukien-red")
                        p Phụ kiện
