.noti 
    .noti-top 
        p GIỎ HÀNG 
        i.fa-solid.fa-share.fa-flip-horizontal
    .noti-bottom
        p Giỏ hàng trống
        .noti-link 
            p Tiếp tục mua hàng
            a(href="/")  tại đây
.overlay