.sidebar 
    .sidebar-container
        .sidebar-top 
            a(href="/").sidebar-logo 
                img(src="../images/logo.png" alt="second-sunday")
        .sidebar-middle 
            .sidebar-icon
                a(href="#" )
                    img(src="../images/menu.png" alt="menu")
                    p Tất cả sản phẩm
            .sidebar-icon
                a(href="#")                 
                    img(src="../images/giay-black.png" alt="menu-shose")
                    p Giày
            .sidebar-icon
                a(href="#")
                    img(src="../images/dep-black.png" alt="menu-sandal") 
                    p Dép
            .sidebar-icon
                a(href="#")
                    img(src="../images/phukien-black.png" alt="menu-phukien") 
                    p Phụ kiện

        .sidebar-bottom
            .sidebar-wrap
                a(href="./index.html") TRANG CHỦ
            .sidebar-wrap
                a(href="./policy.html") CHÍNH SÁCH
            .sidebar-wrap
                a(href="./sizeTab.html") BẢNG SIZE
            .sidebar-wrap
                a(href="./stores.html") HỆ THỐNG CỬA HÀNG 
        .sidebar-exit   
            i.fa-solid.fa-xmark
.overlay