.buy
    .buy-wrap 
        .buy-left 
            .buy-left-wrap
                .buy-form 
                    h2 Second Sunday 
                    .buy-form-header 
                        p Thông tin nhận hàng 
                        .buy-form-login 
                            i.fa-regular.fa-circle-user
                            p Đăng nhập 
                    form
                        .input-focus-effect
                            input(type="text" placeholder=" ")
                            label Họ và tên 
                        .input-focus-effect
                            input(type="text" placeholder=" ")
                            label Số điện thoại
                        .input-focus-effect
                            input(type="text" placeholder=" ")
                            label Địa chỉ
                        .input-focus-effect
                            input(type="text" placeholder=" ")
                            label Quận huyện
                        .input-focus-effect
                            input(type="text" placeholder=" ")
                            label Phường xã
                        .input-focus-effect
                            textarea(type="text" placeholder="")
                            label Ghi chú (tùy chọn)
                .buy-action 
                    .buy-action-item
                        h5 Vận chuyển 
                        p Vui lòng nhập thông tin giao hàng
                    .buy-action-item
                        h5 Thanh toán 
                        .checkbox   
                            label(for="checkbox") 
                                input(type="checkbox" id="checkbox") 
                                .checkbox-circle
                                span.checkmark Thanh toán khi nhận hàng (COD) 
                            i.fa-solid.fa-money-bill
            .buy-thank
                p.buy-thank-tittle Chính sách hoàn trả
                p.buy-thank-content Cảm ơn bạn đã mua hàng tại SECOND SUNDAY! Các chương trình khuyến mại mới tham khảo tại https://www.facebook.com/secondsundayvn bạn nhé.
        .buy-right
            .buy-right-header
                h3 Đơn hàng (1 sản phẩm)
            .buy-right-product 
                .buy-right-product-img
                    img(src="https://bizweb.dktcdn.net/thumb/1024x1024/100/466/874/products/1-jpeg-1698983431761.jpg?v=1698983459007" alt="second-sunday")
                    .buy-right-product-content
                        p Giày Second Sunday Striker SK38
                        span 36
                p.buy-right-product-price 289.000
                    sup ₫
            .buy-right-discount 
                .input-focus-effect
                    input(type="text" placeholder=" ")
                    label Nhập mã giảm giá
                .button 
                    p Áp dụng
            .buy-right-bill
                .cost-temp 
                    span Tạm tính
                    span 289.000
                        sup ₫
                .cost-ship  
                    span Phí vận chuyển
                    span -
                .cost-sum 
                    span Tổng cộng
                    p 289.000
                        sup ₫
            button.buy-submit ĐẶT HÀNG