doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Bảng size
        link(rel="icon" href="./images/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="./styles/index.css")
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        script(src="./scripts/index.js" defer) 
        script(src="./scripts/sizeTab.js" defer) 
    body 
        block header
            include ./components/header.pug
        block sizeTab
            include ./layout/sizeTab.pug
        block footer
            include ./components/footer.pug
        include ./components/sidebar.pug
        include ./components/noti.pug

